absl-py==2.1.0
array_record==0.5.1
astunparse==1.6.3
blosc2==2.7.1
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cvbase==0.5.5
deepdish==0.3.7
dm-tree==0.1.8
docstring_parser==0.16
etils==1.7.0
flatbuffers==24.3.25
fsspec==2024.6.1
gast==0.4.0
google-auth==2.32.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.65.4
h5py==3.11.0
idna==3.7
immutabledict==4.2.0
importlib_resources==6.4.0
joblib==1.4.2
keras==2.10.0
keras-cv==0.3.1
Keras-Preprocessing==1.1.2
libclang==18.1.1
Markdown==3.6
MarkupSafe==2.1.5
msgpack==1.0.8
ndindex==1.8
numexpr==2.10.1
numpy==1.26.0
oauthlib==3.2.2
opencv-contrib-python-headless==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
promise==2.3
protobuf==3.20.3
psutil==6.0.0
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.5.1
scipy==1.14.0
simple_parsing==0.1.5
six==1.16.0
tables==3.9.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.6
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
termcolor==2.4.0
terminaltables==3.1.10
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.66.5
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
wrapt==1.16.0
zipp==3.19.2
